Repository airtonix/react-native-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: manypkg fix, eslint --fix, prettier --no-editorconfig --write, bundle exec rubocop -a --fail-level=E

.lintstagedrc.yml:

"package.json":
  - manypkg fix

"*.{js,ts,tsx}":
  - eslint --fix

"*.md":
  - "prettier --no-editorconfig --write"

"**/*/{.fastfile,Fastfile}":
  - "bundle exec rubocop -a --fail-level=E"

Create management_stale_issues.yml
  .github/workflows/management_stale_issues.yml
Due: none

Create pr_checks.yml
  .github/workflows/pr_checks.yml
Due: none

Update pr_checks.yml
  .github/workflows/pr_checks.yml
Due: none

Create pull_request_title_linting.yml
  .github/workflows/pull_request_title_linting.yml
Due: none

update tasks
  apps/example/package.json
Due: manypkg fix

rewrite app test
  apps/example/App-test.tsx
  apps/example/package.json
  generators/new/app/10_create.ejs.t
  yarn.lock
Due: manypkg fix, eslint --fix

fix: 9 app generator rewrite example test (#10)
  apps/example/App-test.tsx
  apps/example/package.json
  generators/new/app/10_create.ejs.t
  yarn.lock
Due: manypkg fix, eslint --fix

add some simple CICD Fixes #3
  .github/workflows/pr_checks.yml
  generators/new/app/10_create.ejs.t
  package.json
Due: manypkg fix

add type checking, fixed generator
  apps/example/app/App-test.tsx
  apps/example/app/App.tsx
  apps/example/index.js
  apps/example/package.json
  generators/new/app/10_create.ejs.t
  generators/new/app/20_eslint.rc.ejs.t
  generators/new/app/20_tsconfig.ejs.t
  generators/new/package/index.js
  package.json
  packages/types/.env.d.ts
  packages/types/index.ts
  packages/types/package.json
  yarn.lock
Due: manypkg fix, eslint --fix

make test files match expectations
  apps/example/app/App.test.tsx
  generators/new/app/10_create.ejs.t
  yarn.lock
Due: eslint --fix

update app reference
  apps/example/app/App.test.tsx
  generators/new/app/10_create.ejs.t
Due: eslint --fix

fix: 3 add some simple CICD (#11)
  .github/workflows/pr_checks.yml
  apps/example/app/App.test.tsx
  apps/example/app/App.tsx
  apps/example/index.js
  apps/example/package.json
  generators/new/app/10_create.ejs.t
  generators/new/app/20_eslint.rc.ejs.t
  generators/new/app/20_tsconfig.ejs.t
  generators/new/package/index.js
  package.json
  packages/types/.env.d.ts
  packages/types/index.ts
  packages/types/package.json
Due: manypkg fix, eslint --fix

Advanced CICD Fixes #6
  .github/labeler.yml
  .github/workflows/android_release.yml
  .github/workflows/pr_labeler.yml
  .github/workflows/pull_request_title_linting.yml
  .github/workflows/release_trigger.yml
  package.json
  yarn.lock
Due: manypkg fix

remove tool
  package.json
Due: manypkg fix

remove app.json from app generator Fixes #13
  apps/example/app.json
  apps/example/index.js
  generators/add/ui-framework/index.js
  generators/new/app/10_create.ejs.t
  package.json
  packages/metro-config/index.js
  yarn.lock
Due: manypkg fix, eslint --fix

fix: remove app.json from app generator (#14)
  apps/example/app.json
  apps/example/index.js
  generators/add/ui-framework/index.js
  generators/new/app/10_create.ejs.t
  package.json
  packages/metro-config/index.js
  yarn.lock
Due: manypkg fix, eslint --fix

Include ultrarunner Fixes #15
  package.json
  yarn.lock
Due: manypkg fix

Include ultrarunner (#16)
  package.json
  yarn.lock
Due: manypkg fix

update app generator
  .hygenglobalrc
  generators/new/app/100_done.ejs.t
  generators/new/app/10_create.ejs.t
  generators/new/app/10_create_app.ejs.t
  generators/new/app/10_update_repo.ejs.t
  generators/new/app/11_rewrite_paths.ejs.t
  generators/new/app/12_update_commands.ejs.t
  generators/new/app/13_cleanup.ejs.t
  generators/new/app/20_metro.config.js.ejs.t
  generators/new/app/30_update_eslint.ejs.t
  generators/new/app/40_tsconfig.ejs.t
  generators/new/app/99_setup.ejs.t
  generators/new/app/index.js
  package.json
  packages/hygen-prompts/src/application-id.js
Due: manypkg fix, eslint --fix

fix: update broken app generator Fixes #17
  generators/new/app/10_create_app.ejs.t
  generators/new/app/11_rewrite_paths.ejs.t
  generators/new/app/12_update_commands.ejs.t
  generators/new/app/13_cleanup.ejs.t
  generators/new/app/20_rewrite_paths.ejs.t
  generators/new/app/30_update_commands.ejs.t
  generators/new/app/40_cleanup.ejs.t
  generators/new/app/50_tsconfig.ejs.t
  generators/new/app/60_update_eslint.ejs.t
  generators/new/app/70_metro.config.js.ejs.t
  generators/new/app/80_setup.ejs.t
  generators/new/app/99_setup.ejs.t
  package.json
  yarn.lock
Due: manypkg fix

update lockfile
  yarn.lock
Due: none

fix: broken app generator (#18)
  .hygenglobalrc
  generators/new/app/100_done.ejs.t
  generators/new/app/10_create.ejs.t
  generators/new/app/10_create_app.ejs.t
  generators/new/app/10_update_repo.ejs.t
  generators/new/app/20_rewrite_paths.ejs.t
  generators/new/app/30_update_commands.ejs.t
  generators/new/app/40_cleanup.ejs.t
  generators/new/app/50_tsconfig.ejs.t
  generators/new/app/60_update_eslint.ejs.t
  generators/new/app/70_metro.config.js.ejs.t
  generators/new/app/80_setup.ejs.t
  generators/new/app/99_setup.ejs.t
  generators/new/app/index.js
  package.json
  packages/hygen-prompts/src/application-id.js
  yarn.lock
Due: manypkg fix, eslint --fix

Advanced CICD Fixes #6
  .github/workflows/pr_checks.yml
Due: none

ensure caching is the same across all workflows
  .github/workflows/ci_android_release.yml
  .github/workflows/ci_pr_checks.yml
  .github/workflows/ci_release_trigger.yml
  .github/workflows/management_pr_labeler.yml
  .github/workflows/management_pull_request_title_linting.yml
Due: none

feat: 6 advanced CICD (#12)
  .github/labeler.yml
  .github/workflows/ci_android_release.yml
  .github/workflows/ci_pr_checks.yml
  .github/workflows/ci_release_trigger.yml
  .github/workflows/management_pr_labeler.yml
  .github/workflows/management_pull_request_title_linting.yml
  package.json
  yarn.lock
Due: manypkg fix

fix up generator and metro-config
  .gitignore
  generators/new/app/40_cleanup.ejs.t
  packages/metro-config/index.js
  packages/metro-config/package.json
Due: manypkg fix, eslint --fix

metro-config needs to point to symlinked targets Fixes #20
  .github/workflows/ci_android_release.yml
  .github/workflows/ci_pr_checks.yml
  .github/workflows/ci_release_trigger.yml
Due: none

install but prefer offline
  .github/workflows/ci_android_release.yml
  .github/workflows/ci_pr_checks.yml
  .github/workflows/ci_release_trigger.yml
Due: none

basic update
  .bundle/config
  .gitignore
  .hygenglobalrc
  .ruby-version
  Gemfile
  Gemfile.lock
  README.md
  package.json
  tsconfig.base.json
  tsconfig.rn.base.json
Due: manypkg fix, prettier --no-editorconfig --write

update generators
  generators/add/fastlane/index.js
  generators/add/fastlane/package.json
  generators/add/ui-framework/index.js
  generators/add/ui-framework/package.json
  generators/new/app/10_create_app.ejs.t
  generators/new/app/20_rewrite_paths.ejs.t
  generators/new/app/30_update_commands.ejs.t
  generators/new/app/40_cleanup.ejs.t
  generators/new/app/50_tsconfig.ejs.t
  generators/new/app/60_update_eslint.ejs.t
  generators/new/app/70_metro.config.js.ejs.t
  generators/new/app/index.js
  generators/new/app/package.json
  generators/new/cli-tool/index.js
  generators/new/cli-tool/package.json
  generators/new/generator/index.js
  generators/new/generator/package.json
  generators/new/generator/package.json.ejs.t
  generators/new/package/index.js
  generators/new/package/package.json
  generators/new/tool/index.js
  generators/new/tool/package.json
  packages/hygen-prompts/package.json
  packages/metro-config/package.json
  packages/types/package.json
  tools/provision/package.json
Due: manypkg fix, eslint --fix

update
  .yarn/install-state.gz
  yarn.lock
Due: none

provide asdf tools and setup steps
  .tool-versions
  README.md
Due: prettier --no-editorconfig --write
